body, p, input, label, a, button {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff2c9;
}
input {
    padding: 6px;
    border: 1px solid #000;
}
button {
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid green;
}
button:hover {
    background-color: #96fd96;
}
form {
    margin: 0;
    padding: 0;
}

#log_div {
    height: 20%;
    overflow-y: auto;
}

/* interface   */
.ui_cont {
    width: 1000px;
    height: 50px;
    margin: 10px 0;
    border: 1px solid #000;
    background-color: #fff;
}
.ui {
    text-align: center;
    margin-right: 50px;
}
.ui, .ui_cont form {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
}
.ui_cont form input {
    margin: 0;
    margin-right: 10px;
}
.ui span {
    display: inline-block;
    min-width: 45px;
    font-weight: bold;
    text-align: left;
}
#opponent_div, .logs {
    margin: 10px 0;
    width: 1000px;
    border: 1px solid #000;
    background-color: #fff;
}

/* table with map   */
.maptable 
{
    border-collapse: collapse;
    border: none;
    border-spacing: 0px;
    margin-top: 10px;
}

 .maptable td 
 {
        margin: 0px;
        padding: 0px;
        border: none;
 }

/* style for image which can hide another image by "fog" */
.fogimg 
{
    margin-top: -40px;
    margin-left: -40px;
}

/* div for inventory */
.invdiv 
{
    border: 1px solid black;
}

/* div for suggested for trade items */
.suginvdiv 
{
    border-bottom: 1px solid black;
    height: 80px;
    /* background-color: antiquewhite; */
}
.suginvdiv#opsug_div {
    border-bottom: none;
    border-top: 1px solid black;
}

/* class for images of equiped items */
.equip 
{
    border: 2px solid red;
}

/* styles for different languages  */
/* 0 = no language, sounds  */
.lang0
{
    color: black;
}

/* 1 = human  */
.lang1 
{
    color: darkblue;
}

/* 2 = elf  */
.lang2 
{
    color: lightseagreen;
}

/* 3 = dwarf  */
.lang3 
{
    color: rosybrown;
}

/* 4 = gobin  */
.lang4 
{
    color: forestgreen;
}